body  {
    background-image: url("../../../assets/img/backgrounds/a.jpg.jpeg");}
table {
    font-family: "Times New Roman";
    border-collapse: collapse;
    width: 50%;
    background-color: gainsboro;

}

td, th {
    border: 1px solid #5bc0de;

    padding: 8px;
    text-align:center;
}

tr:nth-child(even) {
    background-color: #d9edf7;
}
